.box{
    background-color: rgb(249, 238, 184);
    max-width: 600px;
    max-height: 600px;
    margin-left: 500px;
    margin-top: 20px;
    border: 2px solid black;

}

.box2{

    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.tabela{
    margin-left: 10px;
    margin-top: 30px;
    width: 400px;

}

thead{
    color: rgb(26, 26, 62);
    font-style: italic;
    text-align: center;
}

th{
    text-align:  left;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(236, 228, 218);
}

