
<div class="main-prossumer">
    <div class="container">
        <div class="header-all-devices row">
            <div class="col-md-3" style="font-size: 150%;">
                All devices
            </div>
            <!-- <div class="col-md-2">
                Statistics
            </div> -->
        <div class="row mt-4">
            <div class="col-2">
                <button class="add-device">+ Add device</button>
            </div>
        </div>
    </div>

    

    <div class="all-devices-prossumer container">
        <div class="row">
            <div class="col-1 my-col" style="color: #8CC8FF;">
                Fridge
            </div>
            
        </div>
        
    </div>


</div>
