<div class="table-wrapper">
    <p>History table</p>
    <table class="fl-table">
        <thead>
        <tr>
            <th>DATE</th>
            <th>USAGE</th>
            <th>PRODUCED</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let records of  this.arrayOFSums | paginate: { itemsPerPage: pageSize,currentPage: currentPage,totalItems: totalRecords }">
            <td>{{ records.date  | date: 'MMMM y' }}</td>
            <td class="kwh">{{ records.sumOFUsage | number : '1.3-3'}}<span class="unit"> kWh</span></td>
            <td>{{ records.sumOFProduced | number : '1.3-3'}} <span class="unit"> kWh</span></td>
        <tbody>
    </table>
    <!--<ngx-pagination [collectionSize]="totalRecords" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="pageChanged($event)"></ngx-pagination>-->
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
