<div class="home">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
 <div class="background">
        <div class="layer">
        </div>

        <div class="welcome">
            <h1>Welcome!</h1>
            <h2>Monitor Electricity Consumption</h2>
            <p>Have insight into the distribution of <br> electricity in all prosumer's households</p>
           <!-- <a class="nav-link" (click)="toPage('dashboard')"><button class="btn btn-dark">Continue</button></a>-->
           <a href="/dso/dashboard"><button class="btn btn-dark">Continue</button></a>
        </div>
    </div>
</div>