*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: rgb(166,164,164);
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background:#797a7ebc;
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

.unit{
  color: rgba(245, 222, 179, 0.22);
  font-size: 10px;
}

/* Table Styles */

.table-wrapper{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 660px;
  max-width: 100%;
  white-space: nowrap;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
  background-color:  #33394a22;
}

.fl-table td {
  font-size: 12px;
}

.fl-table thead th {
  color: #cdcdcd;
  background-color:#060f345f;
}


.fl-table thead th:nth-child(odd) {
  color: #cdcdcd;
  background-color:#060f345f;
}

.fl-table tr:nth-child(even) {
  background-color:  #3c3f49a2;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}
.table-wrapper button {
  background-color: rgb(42, 42, 54);
  color: rgb(222, 222, 222);
  border: none;
  font-size: 13px;

}
button {
  margin-left: auto;
  display: block;
}