.chart-wrapper {
  width: 660px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(#232435, rgba(110, 110, 110, 0.077));
  height: 470px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

#chart {
  width: 630px;
  height: 400px;
  margin: 0 auto;

}

.chart-title {
  padding-top: 20px;
  text-align: center;
  display: flex;
  padding-left: 10px;
  justify-content: center;
}
h3{
  color: #99daff;
  font-size: 17px;
}

.container {
  display: flex;
  align-items: center;
  color:  rgb(199, 197, 197);;
}

.container p {
  color:  rgba(182, 187, 218, 0.87);
  margin-right: 10px;
  font-size: 14px;
}

#year-select {
  margin-right: 10px;
  background-color: rgba(182, 187, 218, 0.87);
}


#month-select {
  margin-top: -10px;
  margin-left: 0px;
  background-color:  rgba(182, 187, 218, 0.87);
  margin-right: 10px;
}

.month{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

select {
  padding: 2px;
  border-radius: 5px;
}

#day-select {
  margin-left: 5px;
  background-color:  rgba(182, 187, 218, 0.87);
}

.day{
  text-align: left;
  margin-left: 5px;
  font-size: 14px;
}
