
<div class="prossumer-data">
    <app-prossummer-single-data [label]="'Full name'" [data]="getFullName()"></app-prossummer-single-data>
    <app-prossummer-single-data [label]="'Email'" [data]="getEmail()"></app-prossummer-single-data>
    <app-prossummer-single-data [label]="'Address'" [data]="getAddress()"></app-prossummer-single-data>
    <app-prossummer-single-data [label]="'Personal identification number'" [data]="getJMBG()"></app-prossummer-single-data>
    <app-prossummer-single-data [label]="'Identity card number'" [data]="getIdentityCardNumber()"></app-prossummer-single-data>
    <!-- <div class="row">
        <div class="col button-edit-data-div">
            <button class="button-edit-data" routerLink="edit">Izmeni podatke</button>
        </div>
    </div> -->
</div>